@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1d546d;
}

.dark-mode  {
    background-color: #f3f4f4;
}

.dark-mode section,
.dark-mode footer,
.dark-mode #landing,
.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode a,
.dark-mode .search__input
 {
    background-color: #061e29;
    color: #f3f4f4;
}

.dark-mode .results__card,
.dark-mode .search__input,
.dark-mode .results__card--title,
.dark-mode .results__card--year {
    background-color: black;
    color: #f3f4f4;
}

.dark-mode .logo__img,
.dark-mode .footer__logo--img {
    filter: invert();
}

.dark-mode .nav__link--active {
    background-color: #061e29;
    border: 2px solid #1d546d;

}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

section {
    background-color: #f3f4f4;
}

#landing {
    width: 100%;
    background-color: #f3f4f4;
    padding: 0 48px;
    position: relative;
    height: 104px;
    margin-bottom: 8px;
}

.logo__img--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    position: relative;
}

.logo__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.logo__img--TV {
    width: 80px;
    left: 36px;
    top: 28px;
    filter: grayscale(100%);
}

.logo__img--monkey {
    width: 40px;
    left: 30px;
    filter: grayscale(100%);
}

.logo__title {
    font-family: 'Tourney', cursive;
    font-size: 32px;
    font-weight: 800;
    color: #1d546d;
    width: 100%;
    padding-left: 24px;
}

/*

NAVIGATION STYLES

*/

.nav__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-top:8px;
}

.nav__link--list {
    display: flex;
    align-items: center;
    gap: 32px;

}

.nav__link--anchor {
    font-size: 18px;
    font-weight: 800;
    color: #1d546d;
    position: relative;
    padding-bottom: 4px;
}

.nav__link--active {
    font-size: 18px;
    font-weight: 800;
    color: #f3f4f4;
    background-color: #1d546d;
    border: 2px solid #061e29;
    border-radius: 32px;
    padding: 8px 16px;
}



/*

SEARCH STYLES

*/

#search {
    width: 100%;
    padding: 0 48px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
}

.search__row {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.search__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: Right;
    width: 100%;
}
.search__title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #061e29;
    padding-top: 8px;
}

.search__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #061e29;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.search__input {
    width: 100%;
    max-width: 768px;
    height: 40px;
    margin-top: 16px;
    padding: 0 16px;
    border: 2px solid #1d546d;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #061e29;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.mag {
    position: absolute;
    right: 16px;
    padding-top: 16px;
    font-size: 20px;
    color: #1d546d;
    background-color: transparent;
    border: none;
    cursor: not-allowed;
}


/*

RESULTS STYLES

*/

.results {
    width: 100%;
    height: 100vh;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: row;
    justify-content: space-between;
}

.results__title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #061e29;
}

.results__grid {
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(256px, 1fr)); */
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;
}

.results__card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    width: calc(100% / 2 - 16px);
    max-height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.results__card--img {
    width: calc(100% / 2 - 16px);
    
}

.results__card--info {
    width: calc(100% / 2 - 16px);
    padding-left: 16px;
    text-align: left;
}

.results__card--title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #061e29;
    margin-bottom: 4px;
}

.results__card--year{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #061e29;
    margin-bottom: 4px;
}

.fa-spinner {
    font-size: 120px;
    color: #1d546d;
    animation: rotate 600ms infinite;
    transition: all 0.3s ease-in-out;
    display: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.results__loading .fa-spinner {
    display: block !important;
    z-index: 10;
}

.results__grid--loading {
    display: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*

FOOTER STYLES

*/

footer {
    width: 100%;
    background-color: #f3f4f4;
    padding: 24px 48px;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.footer__logo--img {
    filter: grayscale(100%);
    position: absolute;
}

.footer__tv {
    width: 64px;
    left: 38px;
    top: 8px;
}

.footer__monkey {
    width: 34px;
    left: 48px;
    top: 32px;
}

.copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #061e29;
    text-align: center;
}

.footer__links {
    position: absolute;
    right: 48px;
    top: 32px;
    display: flex;
    gap: 16px;
}

.footer__link--anchor {
    font-size: 16px;
    color: #1d546d;
    transition: color 0.3s ease-in-out;
}

.back-to-top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 44px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.top__text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #061e29;
    margin-top: 0px;
    text-transform: uppercase;
}

.top__anchor {
    font-size: 14px;
    color: #1d546d;
    transition: color 0.3s ease-in-out;
}